.contact-us-content {
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(#{$assetPath}/bg-patterns/bgpattern-1.png);
    width: $full;
    height: $full;
    z-index: 0;
  }
  .contact-us {
    z-index: 9;
    width: calc(100% - 20px);
    h2 {
      font-size: 24px;
      color: $white;
      margin-bottom: 30px;
      @include device(lg) {
        max-width: 600px;
        width: 100%;
        margin: 0 auto 30px;
      }
    }

    ul {
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(center);
      margin-bottom: 30px;
      li {
        &:nth-child(2) {
          margin: 0px 20px;
        }
        a {
          display: block;
          img {
            display: block;
            height: 30px;
          }
        }
      }
    }

    .address {
      font-size: 14px;
      color: $white;
      padding: 30px;
      border: thin solid $primary-color;
      // @include border-radius(10px);
      margin-bottom: 30px;
      @include device(lg) {
        max-width: 600px;
        width: 100%;
        margin: 0 auto 30px;
      }
    }

    .map {
      max-width: 600px;
      width: 100%;
      display: block;
      margin: 0 auto;
      iframe {
        width: 100%;
      }
    }
  }
}
