body{
    .main-container{
      .main-content {
        &.de-flores{
.right-content-de-flores{
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    max-width: 460px;
    width: 100%;
    figure{
        
        margin-bottom: 0px;
        &:first-child{
            margin: 0px auto;
            align-self: center;
            width: 100%;
        }
        &:last-child{
            margin: 0px auto;
            width: 100%;
        }
        img{
            // width: 237px;
            width: 230px;
            margin: 0px auto;
            display: block;
        }
    }
    
}

              }
           }
         }
        }