/*!
 * Deflores Design Studio V1
 * Copyright 2022-2023
 * Author: AMALJITH
 */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
.none-display {
  display: none;
}

.persona-relative {
  position: relative;
}

@media (min-width: 992px) {
  .persona-container {
    width: calc(100% - 80px);
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
   * Scrollbar rail styles
   */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
   * Scrollbar thumb styles
   */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

@media (min-width: 992px) {
  .header {
    height: inherit;
  }
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
}

* {
  font-family: "Poppins";
}

body {
  font-size: 1rem;
}

.scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.scroll-bar::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
}

.header-nav {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 9999;
}
.header-nav .handberg {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 34px 20px;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header-nav .handberg span {
  height: 2px;
  width: 30px;
  background-color: #fff;
  position: relative;
}
.header-nav .handberg span::before {
  content: "";
  position: absolute;
  top: -7px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.header-nav .handberg span::after {
  content: "";
  position: absolute;
  bottom: -7px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

#main-menu .menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  transition: 4s;
  display: none;
}
#main-menu .menu ul {
  padding: 0px;
}
#main-menu .menu ul li a {
  font-size: 3.5625em;
  font-weight: normal;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: block;
}
#main-menu .menu ul li a:hover {
  background-color: black;
  color: white;
}
#main-menu .menu .close-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  padding: 34px 20px;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
  width: 70px;
}
#main-menu .menu .close-btn span {
  height: 2px;
  width: 3px;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}
#main-menu .menu .close-btn span::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transform: rotate(45deg);
}
#main-menu .menu .close-btn span::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transform: rotate(-45deg);
}
#main-menu.open .menu {
  display: flex;
}

.scroll-sidebar {
  display: flex;
  -moz-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100vw;
  height: 130px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .scroll-sidebar {
    display: flex;
    -moz-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    overflow: hidden;
    max-width: 320px;
    height: auto;
  }
}
.scroll-sidebar figure {
  height: 100%;
  display: block;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .scroll-sidebar figure {
    height: auto;
    vertical-align: top;
  }
}
.scroll-sidebar figure img {
  height: 100%;
}
@media (min-width: 992px) {
  .scroll-sidebar figure img {
    height: auto;
    vertical-align: top;
    transition: all 0.2s ease-in-out;
  }
  .scroll-sidebar figure img:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 992px) {
  .scroll-sidebar figure.def-col.def-col-2 {
    width: 50%;
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
body {
  overflow-x: hidden;
  background-color: black;
}
body .main-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  body .main-container {
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    height: 100%;
  }
}
body .main-container aside {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  display: flex;
  -moz-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  body .main-container aside {
    max-width: 200px;
    height: 100%;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}
body .main-container aside .brand-logo {
  width: 90px;
}
body .main-container aside .brand-logo img {
  width: 100%;
}
@media (min-width: 992px) {
  body .main-container aside .brand-logo {
    width: 100%;
    max-width: 320px;
    -moz-flex-direction: column;
    flex-direction: column;
    padding: 30px 10px;
  }
}
@media (min-width: 992px) {
  body .main-container aside .header-nav {
    display: none;
  }
}
body .main-container aside .footer {
  display: none;
}
@media (min-width: 992px) {
  body .main-container aside .footer {
    display: block;
  }
}
body .main-container .main-content {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1367px) {
  body .main-container .main-content {
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
  }
}
body .main-container .main-content .header-nav {
  display: none;
}
@media (min-width: 992px) {
  body .main-container .main-content .header-nav {
    display: block;
  }
}
body .main-container .main-content.home .slider {
  order: 2;
  margin-top: 50px;
  z-index: 99;
}
@media (min-width: 1367px) {
  body .main-container .main-content.home .slider {
    order: 2;
    margin-top: auto;
  }
}
body .main-container .main-content.home .slider ul li img {
  width: 100%;
  vertical-align: bottom;
  max-width: 410px;
}
@media (min-width: 992px) {
  body .main-container .main-content.home .slider ul li img {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1367px) {
  body .main-container .main-content.home .slider ul li img {
    max-width: 779px;
  }
}
body .main-container .main-content.home .cta-action {
  order: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  z-index: 99;
}
@media (min-width: 992px) {
  body .main-container .main-content.home .cta-action {
    order: 1;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    max-width: 360px;
  }
}
body .main-container .main-content.home .cta-action h4 {
  font-size: 3.5625em;
  font-weight: normal;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.6);
}
body .main-container .main-content.home .cta-action .cta {
  font-size: 1.125em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8.5px 15px;
  margin-top: 20px;
  display: flex;
  -moz-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  transition: 0.5s;
}
body .main-container .main-content.home .cta-action .cta:hover {
  letter-spacing: 8px;
}
body .main-container .main-content.home .cta-action .cta img {
  margin-left: auto;
  vertical-align: middle;
}
body .main-container .main-content.home .video-content {
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: calc(100% /2);
  left: calc(100% /2);
  transform: translate(calc(-100% /2), calc(-100% /2)) !important;
  display: flex;
  -moz-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
body .main-container .main-content.home .video-content:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(/assets/images/bg-patterns/bgpattern-1.png);
  width: 100%;
  height: 100%;
  z-index: 999;
}
body .main-container .main-content.home .video-content video {
  height: 100%;
  width: 200%;
  position: absolute;
  left: calc(100% /2);
  transform: translateX(calc(-100% /2));
  top: 0px;
}
@media (min-width: 992px) {
  body .main-container .main-content.home .video-content video {
    position: absolute;
    left: calc(100% /2);
    transform: translateX(-50%);
  }
}
body .footer {
  background-color: #fff;
}
body .footer ul {
  display: flex;
  -moz-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
body .footer ul li:nth-child(2) {
  margin: 0px 20px;
}
body .footer p {
  font-size: 0.625em;
  text-align: center;
  display: none;
}
@media (min-width: 992px) {
  body .footer p {
    display: block;
  }
}
body .footer#footer-mob {
  padding: 15px;
}
@media (min-width: 992px) {
  body .footer#footer-mob {
    display: none;
  }
}
body .footer#footer-mob p {
  font-size: 0.625em;
  text-align: center;
  display: block;
}
@media (min-width: 992px) {
  body .footer#footer-mob p {
    display: none;
  }
}

.profile-body {
  background: url(/assets/images/bg-patterns/profile-bg.png) repeat-x fixed 0 0;
}
@media (min-width: 992px) {
  .profile-body {
    overflow: hidden;
  }
}

body .main-container .main-content.profile {
  padding-top: 58px;
  padding-left: 58px;
  padding-right: 58px;
  position: relative;
  -moz-align-items: stretch !important;
  -ms-align-items: stretch !important;
  align-items: stretch !important;
}
@media (min-width: 1367px) {
  body .main-container .main-content.profile {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    width: 100%;
  }
}
body .main-container .main-content.profile .left-content-de-flores {
  z-index: 9;
}
@media (min-width: 1367px) {
  body .main-container .main-content.profile .left-content-de-flores {
    padding-right: 58px;
  }
}
body .main-container .main-content.profile .left-content-de-flores .inner-content-de-flores {
  overflow-y: auto;
  height: 100%;
}
@media (min-width: 1600px) {
  body .main-container .main-content.profile .left-content-de-flores .inner-content-de-flores {
    max-width: 640px;
  }
}
body .main-container .main-content.profile .left-content-de-flores .inner-content-de-flores .first-content {
  padding-bottom: 20px;
}
body .main-container .main-content.profile .left-content-de-flores .signature-content a {
  display: block;
  color: #292a38;
  margin-bottom: 50px;
}
body .main-container .main-content.profile .left-content-de-flores .signature-content a img {
  padding-right: 5px;
}
@media (min-width: 992px) {
  body .main-container .main-content.profile .left-content-de-flores .signature-content a img {
    padding-right: 10px;
  }
}
body .main-container .main-content.profile .right-content-de-flores {
  display: flex;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  z-index: 9;
}
body .main-container .main-content.profile .right-content-de-flores figure {
  margin-bottom: 0;
}
body .main-container .main-content.profile .profile-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}/*# sourceMappingURL=master.css.map */