$primary-font-regular: 'Poppins';
$icon-font: 'FontAwesome';
$georgia-font: 'Georgia';
$null: 0;
$default-unit: 2px;
$dpadding: $default-unit*5;
$dmargin: $default-unit*5;
$full: 100%;
$fullVh: 100vh;
$default-font-size: 14px;
// $primary-color: #7033FF;
// $secondary-color: #F16F3F;
$primary-color: #00B140;
$secondary-color: #BBDEFB;
$primary-dark-color: #330066;
$nutral-color: #E5E5E5;
$nutral-dark-color: #65646A;
$nutral-light-color: #D0D0CE;
$nutral-medium-color:#707070;
$white: #fff;
$black:#000;
$transition-bg: transparent;
//Vars
$assetPath: "../../images";
//Functions
@function get-path-to-assets($assetPath) {
    @return $assetPath;
}

// $default-unit:calcUnitRem(2px);
// $default-padding:$default-unit*5;
// $default-margin:$default-unit*5;